{% extends 'base.html' %}
{% from "macros.html" import ratingColor %}

{% block htmlclass %}class="index"{% endblock %}

{% block head %}
<title>Pathway- {{company.name}}</title>
{% endblock %}

{% block bodyclass %}class="index"{% endblock %}

{% block main %}
<div class="comp-page-card container col-md-5">
    <div class="card mb-3 border border-dark">
        <div class="col-lg-12">
            <img class="comp-banner img-responsive card-img-top" src={{url_for('file', filename=company.banner_img)}}
                alt="...">
        </div>
        <div class="card-body">
            <div class="comp-img col-md-2">
                <img src={{url_for('file', filename=company.logo_img)}} class="card-img" alt="...">
                <span class="position-absolute top-10 start-90 translate-middle p-2
                            bg-{{company.category_badge(company.company_rat)}} border border-light rounded-circle">
                </span>
            </div>
            <div class="company-to-review">
                <h3 class="card-title">{{company.name}}</h3>
                <a href={{url_for('submit_review', company_to_review=company.name)}} role="button"
                    class="btn btn-outline-success shadow-none">Write a Review</a>

            </div>
            <h6 class="card-subtitle mb-2 text-muted">{{company.category}}</h6>
            <p class="card-text">{{company.description}}</p>
            <!-- Scores overview -->
            <div class="col review-section-content mx-auto">
                <div class="review-title-row row">
                    <div class="col mx-auto">Overall</div>
                    <div class="col mx-auto">Work Culture </div>
                    <div class="col mx-auto">Company Culture</div>
                </div>

                <!-- Each company rating -->
                <div class="row">
                    {% for rating in [company.company_rat, company.work_rat, company.culture_rat] %}
                    {% if rating != None %}
                    <div class="col mx-auto">
                        <span class="badge bg-{{company.category_badge(rating)}}">
                            {{'%0.1f'| format(rating | float)}}/5.0</span>
                    </div>
                    {% else %}
                    <div class="col mx-auto text-muted">No reviews</div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% if reviews != None %}
<div class="comp-recent-revs container">
    <!-- Makes the rows and cols -->
    <div class="num-reviews">
        <p>Displaying {{reviews | length}} out of {{company.total_reviews}} company reviews. </p>
    </div>
    <div class="row">
        {% for review in reviews %}
        <div class="reviews-card card mb-3 shadow-sm col-lg-4 offset-md-1">
            <div class="row g-0">
                <!-- Badge which displays a company's status -->
                <div class="col-md-2">
                    <div class="company-scrollable-img">
                        <a href={{url_for('company_page', company_name=company.name.lower())}}
                            class="position-relative">
                            <img src={{url_for('file', filename=review.company.logo_img)}} class="card-img" alt="...">
                            <span class="position-absolute top-10 start-90 translate-middle p-2
                                bg-{{ratingColor(review.company.company_rat)|trim}}
                                border border-light rounded-circle">
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><a href={{url_for('company_page', company_name=company.name.lower())}}
                                class="company-link">{{review.company.name}}
                        </h5>
                        </a>
                        <h6 class="card-subtitle mb-2 text-muted">{{review.position}}</h6>
                        <p class="card-text text-truncate">{{review.interview_desc}}</p>
                    </div>
                </div>
            </div>
            <div class="card-footer mt-auto">
                <!-- "Tag" badges -->
                {% if review.offer %}
                <span class="badge bg-success">Offer</span>
                <!-- Only show accepted/location if an offer was presented -->
                {% if review.accepted %}
                <span class="badge bg-success">Accepted</span>
                <span class="badge bg-info">{{review.location[1]}}</span>
                {% else %}
                <span class="badge bg-danger">Offer declined</span>
                {% endif %}

                {% else %}
                <span class="badge bg-secondary">No offer</span>
                {% endif %}

                <span class="badge bg-secondary">{{review.job_cat}}</span>
                <a href="/reviews/{{review._id}}" class="review-links float-end">Read full review &#8594;</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<div class="empty-content">
    <h2>This company doesn't have any reviews yet. <br> Be the first to create one!</h2>
</div>
{% endif %}
{% endblock %}

{% block navbartype %}bottom{% endblock %}