{% macro userProfileReviews(reviews) %}
<div class="accordion" id="userReviewAccordion">
    {% for review in reviews %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <p class="col-sm-6 lead">{{review.company.name}}</p>
                {% if review.offer %}
                <span class="col-sm-2 badge bg-success">Offer</span>
                {% else %}
                <span class="col-sm-2 badge bg-danger">No offer</span>
                {% endif %} {% if review.accepted %}
                <span class="col-sm-2 badge bg-success">Accepted offer</span>
                {% else %}
                <span class="col-sm-2 badge bg-secondary">Not accepted</span>
                {% endif %}
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <dl class="row">
                    <dt class="col-sm-3">Job category</dt>
                    <dd class="col-sm-9">{{review.job_cat}}</dd>

                    <dt class="col-sm-3">Role</dt>
                    <dd class="col-sm-9"><p>{{review.position}}</p></dd>

                    {% if review.pay %}
                    <dt class="col-sm-3">Pay</dt>
                    <dd class="col-sm-9">{{review.pay}}</dd>
                    {% endif %} {% if review.start_date %}
                    <dt class="col-sm-3">Start date</dt>
                    <dd class="col-sm-9">{{review.start_date}}</dd>
                    {% endif %} {% if review.work_rat %}
                    <dt class="col-sm-3">Work rating</dt>
                    <dd class="col-sm-9">{{review.work_rating}}</dd>
                    {% endif %}

                    <dt class="col-sm-3">Company Rating</dt>
                    <dd class="col-sm-9">{{review.company_rating}}</dd>

                    {% if review.culture_rating %}
                    <dt class="col-sm-3">Culture rating</dt>
                    <dd class="col-sm-9">{{review.culture_rating}}</dd>
                    {% endif %} {% if review.bonuses %}
                    <dt class="col-sm-3">Bonuses</dt>
                    <dd class="col-sm-9">{{review.bonuses}}</dd>
                    {% endif %}

                    <dt class="col-sm-3">Description</dt>
                    <dd class="col-sm-9">
                        <dl class="row">
                            <dt class="col-sm-12">{{review.interview_desc}}</dt>
                        </dl>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endmacro %} 

{% macro userSettings(user) %}
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasSettings" aria-labelledby="offcanvasSettingsLabel">
    <div class="offcanvas-header">
        <h3 class="offcanvas-title" id="offcanvasSettingsLabel">Settings <span class="text-muted">for {{user.username}}</span></h3>

        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <h4 class="user-settings-header">Profile picture</h4>
        <form method="POST" action="/change_pfp/{{user.username}}" enctype="multipart/form-data">
            <input name="profile_image" id="imageUpload" type="file" name="profile_image" />
            <button class="btn btn-warning">Change picture</button>
        </form>
        <h4 class="user-settings-header">Reset password</h4>
        <form method="POST" action="/change_password/{{user.username}}">
            <div class="row">
                <label for="currentPassword" class="form-label text-muted col-sm-6">Current password</label>
                <input type="text" name="currentPassword" class="form-text col-sm-6" id="currentPassword" value="" required />
            </div>
            <div class="row">
                <label for="newPassword" class="form-label text-muted col-sm-6">New password</label>
                <input type="text" name="newPassword" class="form-text col-sm-6" id="newPassword" value="" required />
            </div>
            
            <button class="btn btn-danger" type="submit">Change password</button>
        </form>
        <div class="dropdown mt-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
                Dropdown button
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
    </div>
</div>
{% endmacro %}

{% macro reviewCard(review) %}
<div class="card  mb-3">
    <div class="row g-0">
        <div class="placeholder col-md-4">
            <!-- <img src="..." class="img-fluid rounded-start"> -->
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">test</h5>
                <p class="card-text">
                    <dt class="col-sm-3">Job category</dt>
                    <dd class="col-sm-9">{{review.job_cat}}</dd>

                    <dt class="col-sm-3">Role</dt>
                    <dd class="col-sm-9"><p>{{review.position}}</p></dd>

                    {% if review.pay %}
                    <dt class="col-sm-3">Pay</dt>
                    <dd class="col-sm-9">{{review.pay}}</dd>
                    {% endif %} {% if review.start_date %}
                    <dt class="col-sm-3">Start date</dt>
                    <dd class="col-sm-9">{{review.start_date}}</dd>
                    {% endif %} {% if review.work_rat %}
                    <dt class="col-sm-3">Work rating</dt>
                    <dd class="col-sm-9">{{review.work_rating}}</dd>
                    {% endif %}

                    <dt class="col-sm-3">Company Rating</dt>
                    <dd class="col-sm-9">{{review.company_rating}}</dd>

                    {% if review.culture_rating %}
                    <dt class="col-sm-3">Culture rating</dt>
                    <dd class="col-sm-9">{{review.culture_rating}}</dd>
                    {% endif %} {% if review.bonuses %}
                    <dt class="col-sm-3">Bonuses</dt>
                    <dd class="col-sm-9">{{review.bonuses}}</dd>
                    {% endif %}

                    <dt class="col-sm-3">Description</dt>
                    <dd class="col-sm-9">
                        <dl class="row">
                            <dt class="col-sm-12">{{review.interview_desc}}</dt>
                        </dl>
                    </dd>
                </dl>
                </p>
            </div>
        </div>
    </div>
    <div class="card-footer">
        test
    </div>
</div>
{% endmacro %}