{% extends 'base.html' %}

{% block htmlclass %}class="signup"{% endblock %}

{% block head %}
<title>Pathway - Sign up</title>
{% endblock %}

{% block bodyclass %}class="signup"{% endblock %}

{% block main %}
<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div id="sing-up-card" class="card shadow-2-strong">
          <div class="card-body p-5 text-center">

            <h3 class="mb-5">Sign up</h3>
            <form class="form" method="POST" action="/create_user" enctype="multipart/form-data">
              <div class="form-outline mb-4">
                <label class="form-label" for="usernameField">Username</label>
                <input name="username" type="text" id="usernameField" class="form-control form-control-lg" minlength="4"
                  required />
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="emailField">Email</label>
                <input name="email" type="email" id="emailField" class="form-control form-control-lg" required />
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="passwordField">Password</label>
                <input name="password" type="password" id="passwordField" class="form-control form-control-lg"
                  minlength="5" required />
              </div>

              <div class="form-group row">
                <div class="form-outline mb-4">
                  <label class="form-label" for="imageUpload">Profile picture</label>

                  <input id="imageUpload" class="form-control" type="file" name="profile_image"
                    accept=".png, .jpg, .webp" required>
                </div>
              </div>


              <hr class="my-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}