{% extends 'base.html' %}
{% block htmlclass %}class="submit"{% endblock %}

{% block head %}
<title>Pathway - Submit Review</title>
{% endblock %}

{% block bodyclass %}class="submit"{% endblock %}

{% block main %}
<div class="review-form container">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div id="scrollspy-example" class="card shadow-2-strong">
        <nav id="review-nav" class="navbar navbar-light bg-light px-3">
          <a class="navbar-brand" href="#">Submit a Review!</a>
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link" href="#detailsSection">Details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#ratingsSection">Ratings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#descriptionsSection">Descriptions</a>
            </li>
          </ul>
        </nav>
        <form class="form" method="POST">
          <div class="card-body" data-bs-spy="scroll" data-bs-target="review-nav" data-bs-offset="0" tabindex="0">
            <h5 id="detailsSection">Details</h5>
            <div class="mb-3">
              <label for="company" class="form-label">Company</label>
              <!-- If the user clicks on reviewing a company from that page -->
              {% if company != None %}
              <input type="text" placeholder="Company Name" class="form-control" id="company" name="company"
                value="{{company}}" required />
              {% else %}
              <input type="text" placeholder="Company Name" class="form-control" id="company" name="company" required />
              {% endif %}

            </div>
            <div class="mb-3">
              <label for="position" class="form-label">Position</label>
              <input type="text" placeholder="Job Position" class="form-control" id="position" name="position"
                required />
            </div>
            <div class="mb-3">
              <label for="jobCategory" class="form-label">Job Category</label>
              <select id="jobCategory" class="form-select" name="jobCategory" required>
                <option value="" disabled selected>Select a job category</option>
                {% for category in categories %}
                <option>{{category}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label" for="education">Level of education when you applied for the job</label>
              <select id="education" class="form-select" name="education" required>
                <option value="" disabled selected>Select an education level</option>
                {% for level in ed_levels %}
                <option>{{level}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label" for="payAmount">Hourly Pay</label>
              <div class="input-group">
                <div class="input-group-text">$</div>
                <input type="number" class="form-control" min="0" step=0.01 id="payAmount" placeholder="15.00"
                  name="payAmount" required />
              </div>
            </div>
            <div class="mb-3">
              <div class="col-4">
                <label for="location" class="form-label">State</label>
                <select id="location" class="form-select" name="location" required>
                  <option value="" disabled selected>Select a state</option>
                  {% for state in states %}
                  <option value={{state}}>{{states[state]}} - {{state}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-10">
                <label for="city" class="form-label">City</label>
                <input name="city" type="text" class="form-control" pattern="^[a-zA-ZÀ-ÿ-' ]+$" placeholder="San Juan">
              </div>
            </div>
            <div class="mb-3">
              <label for="startDate" class="form-label">Start date</label>
              <input id="startDate" type="date" class="form-control" placeholder="MM/DD/YYYY" name='startDate'
                required />
            </div>
            <div class="mb-3">
              <h5>Were you extended an offer?</h5>
              <input type="radio" class="btn-check" name="offerOptions" id="offerOption1" autocomplete="off"
                value="true" />
              <label class="btn btn-success" for="offerOption1">Given offer</label>

              <input type="radio" class="btn-check" name="offerOptions" id="offerOption2" autocomplete="off"
                value="false" />
              <label class="btn btn-danger" for="offerOption2">No offer</label>
            </div>
            <div class="mb-3">
              <h5>If you were given an offer, did you accept it?</h5>
              <input type="radio" class="btn-check" name="acceptedOptions" id="acceptedOption1" autocomplete="off"
                value="true" />
              <label class="btn btn-success" for="acceptedOption1">Accepted offer</label>

              <input type="radio" class="btn-check" name="acceptedOptions" id="acceptedOption2" autocomplete="off"
                value="false" />
              <label class="btn btn-danger" for="acceptedOption2">Denied offer</label>
            </div>

            <hr class="my-3" />
            <h3 id="ratingsSection">Ratings</h3>
            <div class="mb-3">
              <h5>Rate the Company as a whole</h5>
              <p class="text-muted">0=Bad / 5=Fantastic</p>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="companyRatingOptions" id="companyRating1" value=1
                  required />
                <label class="form-check-label" for="companyRating1">1</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="companyRatingOptions" id="companyRating2" value=2 />
                <label class="form-check-label" for="companyRating2">2</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="companyRatingOptions" id="companyRating3" value=3 />
                <label class="form-check-label" for="companyRating3">3</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="companyRatingOptions" id="companyRating4" value=4 />
                <label class="form-check-label" for="companyRating4">4</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="companyRatingOptions" id="companyRating5" value=5 />
                <label class="form-check-label" for="companyRating5">5</label>
              </div>
            </div>
            <div class="mb-3">
              <h5>Rate the work you did</h5>
              <p class="text-muted">0=Boring,would not do again / 5=Engaging and impactful</p>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="workRatingOptions" id="workRating1" value=1 />
                <label class="form-check-label" for="workRating1">1</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="workRatingOptions" id="workRating2" value=2 />
                <label class="form-check-label" for="workRating2">2</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="workRatingOptions" id="workRating3" value=3 />
                <label class="form-check-label" for="workRating3">3</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="workRatingOptions" id="workRating4" value=4 />
                <label class="form-check-label" for="workRating4">4</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="workRatingOptions" id="workRating5" value=5 />
                <label class="form-check-label" for="workRating5">5</label>
              </div>
            </div>
            <div class="mb-3">
              <h5>Rate the company culture</h5>
              <p class="text-muted">0=Toxic and not welcoming / 5=Warm and welcoming</p>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="cultureRatingOptions" id="cultureRating1" value=1 />
                <label class="form-check-label" for="cultureRating1">1</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="cultureRatingOptions" id="cultureRating2" value=2 />
                <label class="form-check-label" for="cultureRating2">2</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="cultureRatingOptions" id="cultureRating3" value=3 />
                <label class="form-check-label" for="cultureRating3">3</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="cultureRatingOptions" id="cultureRating4" value=4 />
                <label class="form-check-label" for="cultureRating4">4</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="cultureRatingOptions" id="cultureRating5" value=5 />
                <label class="form-check-label" for="cultureRating5">5</label>
              </div>
            </div>
            <div class="mb-3">
              <h5>Rate your interview experience</h5>
              <p class="text-muted">0=Toxic and not welcoming / 5=Warm and welcoming</p>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="interviewRatingOptions" id="interviewRating1"
                  value=1 />
                <label class="form-check-label" for="interviewRating1">1</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="interviewRatingOptions" id="interviewRating2"
                  value=2 />
                <label class="form-check-label" for="interviewRating2">2</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="interviewRatingOptions" id="interviewRating3"
                  value=3 />
                <label class="form-check-label" for="interviewRating3">3</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="interviewRatingOptions" id="interviewRating4"
                  value=4 />
                <label class="form-check-label" for="interviewRating4">4</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="interviewRatingOptions" id="interviewRating5"
                  value=5 />
                <label class="form-check-label" for="interviewRating5">5</label>
              </div>
            </div>

            <hr class="my-3" />
            <h3 id="descriptionsSection">Descriptions</h3>
            <div class="mb-3">
              <label class="form-label" for="interviewDescription">How was your interview?</label>
              <textarea name="interviewDescription" class="form-control" id="interviewDescription" rows="2"
                required></textarea>
            </div>
            <div class="mb-3">
              <label class="form-label" for="bonusesDescription">Any bonuses worth mentioning?</label>
              <textarea name="bonusesDescription" class="form-control" id="bonusesDescription" rows="2"></textarea>
            </div>
            <div class="mb-3">
              <label class="form-label" for="internshipDescription">Describe your work!</label>
              <textarea name="internshipDescription" class="form-control" id="internshipDescription"
                rows="3"></textarea>
            </div>
            <div class="mt-5">
              <button class="login-btn btn btn-dark btn-lg btn-block" type="submit">Submit review</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block navbartype %}fixed-bottom{% endblock %}