:root {
    --scrollbar-grey: rgb(214, 214, 214);
    --highlight-grey: rgb(129, 129, 129)
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px black;
    box-shadow: inset 0 0 3px black;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--scrollbar-grey);
    -webkit-box-shadow: inset 0 0 6px grey;
    box-shadow: inset 0 0 6px grey;
}

body.index,
html.index {
    overflow-x: hidden;
    background: linear-gradient(0.25turn, #e2dbf5, #e9e8e8);
}

.navbar {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2em;
}

p {
    font-family: 'Bitter', serif;
}

#navbar-title-text {
    background-image: -webkit-linear-gradient(45deg, #40356F, #645FCE);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#navbar-search {
    margin-right: 0%;
    margin-left: auto;
    padding-right: 3%;
}

.nav-bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bottom a {
    text-decoration: none;
    color: inherit;
}

.reviews {
    overflow-x: scroll;
    white-space: nowrap;
}

.reviews-card {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    max-width: 20rem;
    max-height: 20rem;
}

.review-links {
    text-decoration: none;
}

.highest-rated {
    margin-top: 3rem;
}


.highest-rated h3 {
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'Merriweather', serif;
}

.company-scrollable-img {
    margin-top: 0.5rem;
}

.company-image img {
    border-radius: 20%;
}

.company-card {
    max-width: 700px;
    margin-bottom: 3rem;
}

.company-card-content {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    margin-left: 0.5rem;
}

.company-link {
    text-decoration: inherit;
    color: inherit;
    font-size: 1.3em;
}

.review-title-row {
    font-family: 'Lusitana', serif;
    margin-bottom: 1rem;
}

.review-section-content {
    font-size: 1.1em;
    margin-top: 1.5rem;
    text-align: center;
}

.user-card { 
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

#userPicture { 
    max-width: 300px;
    max-height: 300px;

}

#calendar-icon { 
    max-width: 2.5rem;
    max-height: 2.5rem;
}

.user-settings-header { 
    margin-top: 10%;
}

.accordion-header .badge { 
    /* max-width: 5%; */
    margin-left: 5%;
    font-size: large;
}

.accordion-body dt { 
    font-size: larger;
}

.accordion-body dd { 
    font-size: large;
}

.jumbotron { 
    margin-bottom: 5%;
    width: 100%;
    height: auto;
    background-image: url(https://images.unsplash.com/photo-1481328101413-1eef25cc76c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
}