#navbar-title-text { 
    background-image: -webkit-linear-gradient(45deg,#40356F,#645FCE);
    background-size:100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#navbar-search { 
    margin-right: 0%;
    margin-left: auto;
    padding-right: 3%;
}

#recent-reviews {
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 4rem;
}

ul {
    white-space: nowrap;
    overflow-x: auto;
}

ul li {
    display: inline-block;
    float: none;
}

.card-text { 
    /* overflow-x:scroll; */
    white-space: normal;
}

.card { 
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

#userPicture { 
    max-width: 300px;
    max-height: 300px;
}